<div class="login">
<%= form_for :session, url: login_path do |f| %>
  <%=  f.label :username %>
  <%= f.text_field :username %>
  <%=  f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %>
<% end %>
</div>
<br>
<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
